<h1>Admin Page</h1>

<h3 align="right"> Manager's Toy Listing <a href="http://localhost:3000/toys"> Click Here </a> </h3>

<h3 align="right"> Customer Listing <a href="http://localhost:3000/customers"> Click Here </a></h3>

<h3 align="right"> Orders Listing <a href="http://localhost:3000/orders"> Click Here</a> </h3>

<h3 align="right"> Authorize Users <a href="http://localhost:3000/authusers"> Click Here</a> </h3>

<h3 align="right"> Show Orders for Customer <a href="http://localhost:3000/showorders/custnamein"> Click Here</a> </h3>