<center><h1><font color = > <%= @page_title || "Seattle's Toy Store" %></font></h1></center>
<div id="topbannertitle"></div>
<%= yield %> <!-- yields to the rest of the, executes the top banner and then goes to page -->

<h2> Welcome to Seattles toy store! We have the largest selection of toys in Seattle!</h2>
<br>
<div id="homepics">
<table width = 50% border = 0 align="center"> 
<tr> <td>
<h2 align="center"> We got MC Ride!</h2>
</td>
<td><img src="/assets/inyourarea.png" width="100" height="150" align="center" alt="">
</td></tr>
<tr></tr>
<tr> <td> 
<h2> We got GI JOE! </h2>
</td> <td>
<img src ="/assets/GIJoe.jpg" width="100%" height="150" align="center" alt="GIJOE"></td></tr>
<tr> </tr>
<tr> </tr>
<tr> </tr>
<tr></tr>
<tr><td> 
<h2> We got Pikachu! </h2>
</td>
<td> 
<img src ="/assets/pikachu.jpeg" width="100%" height="150" align="center" alt="Pikachu"></td></tr>
<tr></tr>
<tr></tr>
<tr></tr>
<tr></tr>
<tr><td>
<h2> We got Batman! </h2></td>
<td>
<img src ="/assets/batman.jpg" width="100%" height="150" align="center" alt="Batman">
</td></tr>

</table>
</div>


<center><h3 align="right"> Toy List <a href="http://localhost:3000/report/pricesummary"> Click Here</a> </h3></center>

<h3 align="right"> Admin Login <a href="http://localhost:3000/simplelogin/userin"> Click Here</a></h3>




